<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skills database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Skills</h1>
<table>
    <tr>
        <th>Label</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr th:each="skill : ${skills}">
        <td th:text="${skill.label}"></td>
        <td th:text="${skill.description}"></td>
    </tr>
</table>
<hr/>
<form th:action="@{/skills}" method="post" enctype="multipart/form-data">
    <div>
        Label: <input name="label" />
    </div>
    <div>
        Description: <input name="description" />
    </div>
    <div>
        <input type="submit" value="Create skill" name="button"/>
    </div>
</form>
<a th:href="@{/developers}">Developers</a>
</body>
</html>